@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    background-image: url('images/bg-desktop.svg');
    background-position: center;
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: bold;
}

p {
    color: #fff;
    line-height: 1.6;
    margin: 25px 0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
    height: 100vh;
}

.logo {
    display: flex;
    align-items: center;
    padding: 35px 0;
    color: #fff;
}

.logo i {
    padding-right: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    position: relative;
    top: 100px;
}

.card {
    width: 450px;
    justify-self: center;
    margin: auto 0;
}

.btn {
    display: inline-block;
    background-color: white;
    color: hsl(300, 69%, 71%);
    border: none;
    border-radius: 20px;
    padding: 10px 55px;
    margin-top: 15px;
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.2);
    transition: color 0.5s ease-in-out;
}

.btn:hover {
    color: #fff;
    background-color: hsl(300, 69%, 71%);

}

.social {
    display: flex;
    justify-content: space-between;
    width: 200px;
    position: absolute;
    bottom: 150px;
    right: 350px;
}

.social a {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social i {
    font-size: 22px;
}

.social a:hover {
    transform: translateY(-3px);
}


/* .social {
    position: absolute;
    bottom: 70px;
    right: 70px;
}

.social i {
    font-size: 24px;
    color: #fff;
    padding-left: 25px;
}

.social i::after {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    border: 1px solid #fff;
    border-radius: 50%;
    top: 15px;
    right: 38px;
} */

@media(max-width:768px) {
    body {
        background-image: url('images/bg-mobile.svg');
        background-position: center;
        background-color: hsl(257, 40%, 49%);
        background-repeat: no-repeat;
        background-size: cover;

    }

    h1 {
        font-size: 20px;
    }

    img {
        width: 300px;
        margin: 0 auto;
        padding-bottom: 25px;
    }

    p {
        font-size: 14px;
        margin: 0;
        padding: 10px 0;
    }

    .container {
        width: 400px;
        height: 100%;
        text-align: center;
        position: relative;
    }

    .logo {
        padding: 25px;
    }

    .grid {
        grid-template-columns: 1fr;
        gap: 0;
        width: 300px;
        padding: 0 15px;
        position: absolute;
    }

    .card {
        width: 100%;
        margin: 0 auto;
    }

    .social {
        width: 200px;
        position: absolute;
        bottom: 50px;
        right: 130px;
    }



    .btn {
        margin: 0;
        margin-bottom: 25px;
        font-size: 16px;
    }


}
